<!DOCTYPE html>
<html>

<head>
    <title>Memory</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel='stylesheet' type='text/css' href='./style.css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

        Time: <div id="timerDiv">0</div>
       <div class="container d-flex justify-content-center">

           <div class="justify-content-center" id='table'>

           </div>

       </div>

        <button id="btnScore" onclick="goToTable()">Table of scores</button>



    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src='./main.js'></script>
</body>

</html>