
#timerDiv{
    font-size: 20px
}

#table{
    box-sizing: border-box;
    width:50%;
    height: 100%;
    margin-top: 5%;
}
div.row {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

div.field {
    box-sizing: border-box;
    display: inline-block;
    width: 70px;
    height: 70px;
    background-color: rosybrown;
    border: 2px solid #3D3D3D;
    text-align: center;
    vertical-align: middle;
    padding-top: 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 30px;
    color:#3D3D3D;
}

div.field:hover {
    background-color: salmon;
}